<section id="carousel">
  <div class="container">
    <div class="content">
      <span class="topper">Hello world</span>
      <h3 class="headline">Be Inspired</h3>
      <p class="text">
        lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>

    <div class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="dark-overlay"></div>
            <div class="overlay">
              <div class="overlay__content">
                <div class="overlay__content-headings">
                  <span class="topper">visit us</span>
                  <h6>New Here?</h6>
                </div>
              </div>
              <a href="/location" class="overlay__content-link">Learn More</a>
            </div>
            <picture class="cs-picture">
              <source media="(max-width: 600px)" srcset="{{ '/assets/images/card1-m.jpg' }}">
              <source media="(min-width: 601px)" srcset="{{ '/assets/images/card1.jpg' }}">
              <img decoding="async" src="{{ '/assets/images/card1.jpg' }}" alt="card" width="2250" height="1500" aria-hidden="true" class="splide__img">
            </picture>
          </li>
          <li class="splide__slide">
            <div class="dark-overlay"></div>
            <div class="overlay">
              <div class="overlay__content">
                <div class="overlay__content-headings">
                  <span class="topper">Join Us</span>
                  <h6>Music Ministry</h6>
                </div>
              </div>
              <a href="/location" class="overlay__content-link">Learn More</a>
            </div>
            <picture class="cs-picture">
              <source media="(max-width: 600px)" srcset="{{ '/assets/images/card2-m.jpg' }}">
              <source media="(min-width: 601px)" srcset="{{ '/assets/images/card2.jpg' }}">
              <img decoding="async" src="{{ '/assets/images/card2.jpg' }}" alt="card" width="2250" height="1500" aria-hidden="true" class="splide__img">
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>