<section id="carousel">
  <div class="container">
    <div class="content">
      <span class="topper">San Antonio</span>
      <h2 class="headline">Fé y Comunidad</h2>
      <p class="text">
        Adora, conéctate y crece con nosotros. Descubre nuestros servicios y sé parte de una familia que ama a Dios y a las personas.
      </p>
    </div>

    <div class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="dark-overlay"></div>
            <div class="overlay">
              <div class="overlay__content">
                <div class="overlay__content-headings">
                  <span class="topper">visítanos</span>
                  <h6>Nuevo En San Antonio?</h6>
                </div>
              </div>
              <a href="/location" class="overlay__content-link">Learn More</a>
            </div>
            <picture class="cs-picture">
              <source media="(max-width: 600px)" srcset="{{ '/assets/images/card1-m.jpg' }}">
              <source media="(min-width: 601px)" srcset="{{ '/assets/images/card1.jpg' }}">
              <img decoding="async" src="{{ '/assets/images/card1.jpg' }}" alt="card" width="2250" height="1500" aria-hidden="true" class="splide__img">
            </picture>
          </li>
          <li class="splide__slide">
            <div class="dark-overlay"></div>
            <div class="overlay">
              <div class="overlay__content">
                <div class="overlay__content-headings">
                  <span class="topper">Adoración</span>
                  <h6>Ministerio de Música</h6>
                </div>
              </div>
              <a href="/location" class="overlay__content-link">Learn More</a>
            </div>
            <picture class="cs-picture">
              <source media="(max-width: 600px)" srcset="{{ '/assets/images/card2-m.jpg' }}">
              <source media="(min-width: 601px)" srcset="{{ '/assets/images/card2.jpg' }}">
              <img decoding="async" src="{{ '/assets/images/card2.jpg' }}" alt="card" width="2250" height="1500" aria-hidden="true" class="splide__img">
            </picture>
          </li>
          <li class="splide__slide">
            <div class="dark-overlay"></div>
            <div class="overlay">
              <div class="overlay__content">
                <div class="overlay__content-headings">
                  <span class="topper">Padres y Niños</span>
                  <h6>Escuela Dominical</h6>
                </div>
              </div>
              <a href="/location" class="overlay__content-link">Learn More</a>
            </div>
            <picture class="cs-picture">
              <source media="(max-width: 600px)" srcset="{{ '/assets/images/kids.png' }}">
              <source media="(min-width: 601px)" srcset="{{ '/assets/images/kids.png' }}">
              <img decoding="async" src="{{ '/assets/images/kids.png' }}" alt="card" width="2250" height="1500" aria-hidden="true" class="splide__img">
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>