<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1391">
  <div class="cs-container">
    <div class="cs-top">
      <a aria-label="go back to home" class="cs-logo" href="">
        <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="logo" loading="lazy" aria-hidden="true" decoding="async" width="40" height="40">
        <!--        <img class="cs-logo-img" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/agency-logo-dark.svg" alt="logo" >-->
      </a>
      <ul class="cs-ul">
        {% for link in site.data.settings.navigation_settings.navigation_links %}
          <li class="cs-li">
            <a href="#" class="cs-link">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="cs-bottom">
      <!--Social-->
      <ul class="cs-social">
        <li class="cs-social-li">
          <a href="" class="cs-social-link" aria-label="facebook" target="_blank" rel="noopener">
            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/face-white1.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
          </a>
        </li>
        <li class="cs-social-li">
          <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-white.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
          </a>
        </li>
        <li class="cs-social-li">
          <a href="" class="cs-social-link" aria-label="instagram" target="_blank" rel="noopener">
            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
          </a>
        </li>
        <li class="cs-social-li">
          <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
          </a>
        </li>
      </ul>
      <span class="cs-copyright">
        {{ site.data.settings.footer_settings.copyright }}
      </span>
      <!--      <div class="cs-flex">-->
      <!--        <a href="" class="cs-copyright-link">Privacy Policy</a>-->
      <!--        <span class="cs-separater">|</span>-->
      <!--        <a href="" class="cs-copyright-link">Terms of Use</a>-->
      <!--      </div>-->
    </div>
  </div>
</footer>
