<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1391">
  <div class="cs-container">
    <div class="cs-top">
      <a aria-label="go back to home" class="cs-logo" href="">
        <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="logo" loading="lazy" aria-hidden="true" decoding="async" width="40" height="40">
        <!--        <img class="cs-logo-img" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/agency-logo-dark.svg" alt="logo" >-->
      </a>
      <ul class="cs-ul">
        {% for link in site.nav.links %}
          <li class="cs-li">
            <a href="#" class="cs-link">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="cs-bottom">
      <!--Social-->
      <ul class="cs-social">
        {% for social in site.nav.socials %}
          <li class="cs-social-li">
            <a href="" class="cs-social-link" aria-label="{{ social.title }}" target="_blank" rel="noopener">
              <img class="cs-social-icon cs-default" src="{{ social.icon }}" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
            </a>
          </li>
        {% endfor %}
      </ul>
      <span class="cs-copyright">
        {{ site.footer.copyright }}
      </span>
      <!--      <div class="cs-flex">-->
      <!--        <a href="" class="cs-copyright-link">Privacy Policy</a>-->
      <!--        <span class="cs-separater">|</span>-->
      <!--        <a href="" class="cs-copyright-link">Terms of Use</a>-->
      <!--      </div>-->
    </div>
  </div>
</footer>
