<section id="hero-228">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper highlight">{{ site.data.home.content.topper }}</span>
      <h1 class="cs-title">{{ site.data.home.content.headline }}</h1>
      <p class="cs-text">
        {{ site.data.home.content.subheadline }}
      </p>
      <div class="buttons-wrapper">
        <a href="{{ site.data.home.content.button.primary.url }}" class="button" data-button-variant="primary">{{ site.data.home.content.button.primary.text }}</a>
        <a href="{{ site.data.home.content.button.secondary.url }}" class="button" data-ghost-button>{{ site.data.home.content.button.secondary.text }}</a>
      </div>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-picture">
    <source media="(max-width: 600px)" srcset="{{ '/assets/images/hero-background-m.jpg' }}">
    <source media="(min-width: 601px)" srcset="{{ '/assets/images/hero-background.jpg' }}">
    <img decoding="async" src="{{ '/assets/images/hero-background.jpg' }}" alt="crowd praising god" width="2250" height="1500" aria-hidden="true">
  </picture>
</section>
