<section id="hero-228">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper highlight">San Antonio, TX</span>
      <h1 class="cs-title">Spreading the word of Jesus</h1>
      <p class="cs-text">
        Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nibh tortor id aliquet lectus proin nibh condimentum.
      </p>
      <div class="buttons-wrapper">
<!--        <a href="#" class="button">Default</a>-->
        <a href="/location" class="button" data-button-variant="primary">Visit our church</a>
        <a href="/location" class="button" data-ghost-button>Get to know us</a>
<!--        <a href="#" class="button-solid">Visit Us</a>-->
<!--        <a href="#" class="button-transparent">-->
<!--          <img class="cs-img" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg" alt="play icon" width="17" height="17" aria-hidden="true">-->
<!--          Watch Online-->
<!--        </a>-->
      </div>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-picture">
    <source media="(max-width: 600px)" srcset="{{ '/assets/images/hero-background-m.jpg' }}">
    <source media="(min-width: 601px)" srcset="{{ '/assets/images/hero-background.jpg' }}">
    <img decoding="async" src="{{ '/assets/images/hero-background.jpg' }}" alt="crowd praising god" width="2250" height="1500" aria-hidden="true">
  </picture>
</section>
