<section id="sermon">
  <div class="container">
    <div class="content">
      <div class="content__text">
        <span class="topper highlight">Latest Sermon</span>
        <h3 class="headline">The Greatest Demonstration Of God's Love</h3>
        <p class="text">"God wants you to know him, do you?" — Victor Lozano</p>
      </div>

      <div class="content__button-group">
        <a href="#" class="button-solid">Watch Now</a>
        <a href="#" class="button-transparent">More Sermons</a>
      </div>
    </div>
    <div class="video">
      <iframe style="" src="https://www.youtube.com/embed/x-tiYn_HYb8?si=Eulw0LWO6IlXUaMo" title="San Antonio Casa De Alabanza" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</section>
