<section id="sermon">
  <div class="container">
    <div class="content">
      <span class="topper highlight">Latest Sermon</span>
      <h3 class="headline">The Greatest Demonstration Of God's Love</h3>
      <p class="text">"God wants you to know him, do you?" — Victor Lozano</p>
    </div>
    <div class="button-group">
      <a href="#" class="button-solid">Watch Now</a>
      <a href="#" class="button-transparent">More Sermons</a>
    </div>
    <div class="video">
      <iframe style="width: 100%; min-height: 12rem; max-width: 48rem;" src="https://www.youtube.com/embed/kzsNUpkt1uw?si=vQh7KV0RAQpY5MPa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</section>