<section id="sermon">
  <div class="container">
    <div class="content">
      <div class="content__text">
        <span class="topper highlight">Último Sermón</span>
        <h2 class="headline">Andando En El Espíritu</h2>
        <p class="text">"Dios quiere conocerte" — Victor Lozano</p>
      </div>

      <div class="content__button-group">
        <a href="https://www.facebook.com/share/v/1F9yPzLdKu/" target="_blank" class="button" data-button-variant="primary">Watch On Facebook</a>
        <a href="https://www.facebook.com/casadealabanzayadoracionsanantonio/videos" class="button" data-ghost-button="">Más Sermones</a>
      </div>
    </div>
    <div class="video">
      <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fcasadealabanzayadoracionsanantonio%2Fvideos%2F1995941580896254%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
    </div>
  </div>
</section>
