<section id="pastors">
  <div class="container">
    <div class="content">
      <span class="topper highlight">Meet our</span>
      <h2 class="headline">Pastors</h2>
      <p class="text">
        Hace 8 años, el Pastor Víctor y Silvia Lozano fundaron Casa de Alabanza con familiares y amigos cercanos, guiados por un llamado claro: compartir el evangelio y edificar una comunidad de fe. Aunque el camino del ministerio no siempre es fácil, Dios les ha dado la fortaleza y sabiduría para seguir adelante con fidelidad.
      </p>
      <p class="text">
        Hoy, Casa de Alabanza es un hogar espiritual para más de 80 personas que se reúnen cada semana para adorar, aprender y crecer juntos en la fe. ¡Nos encantaría que fueras parte de nuestra familia!
      </p>
    </div>
    <div class="right">
      <picture class="picture">
        <source media="(max-width: 600px)" srcset="{{ '/assets/images/pastors-m.jpg' }}">
        <img src="{{ '/assets/images/pastors-m.jpg' | relative_url }}" alt="our pastors" width="800px" class="pastors-image">
      </picture>
    </div>
  </div>
</section>