<section id="pastors">
  <div class="container">
    <div class="content">
      <span class="topper highlight">Meet our</span>
      <h2 class="headline">Pastors</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div class="right">
      <picture class="picture">
        <source media="(max-width: 600px)" srcset="{{ '/assets/images/pastors-m.jpg' }}">
        <img src="{{ '/assets/images/pastors-m.jpg' | relative_url }}" alt="our pastors" width="800px" class="pastors-image">
      </picture>
    </div>
  </div>
</section>