@import "tools/normalize";
@import "tools/splide";
@import "settings/variables";
@import "settings/typography";
@import "settings/utilities";
@import "components/buttons";
@import "components/navbar";
@import "components/footer";
@import "modules/hero";
@import "modules/quote";
@import "modules/sermon";
@import "modules/carousel";
@import "modules/pastors";
@import "modules/cta";
@import "modules/location/hero";
@import "modules/location/map";
@import "modules/calendar/calendar";

*,
*::before,
*::after { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
}

ul {
  list-style: none;
}

section {
  padding: var(--section-padding);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}