@media only screen and (min-width: 0rem) {
  #pastors {
    padding: var(--section-padding);
    background: var(--black);
    color: var(--text-white);

    .container {
      width: 100%;
      max-width: calc(1280 / 24 * 1rem);
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .headline {
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .pastors-image {
      width: 100%;
      height: 60vh;
      object-fit: contain;
      border-radius: 1rem;
    }

    .text {
      margin: 0;
      color: var(--text-white);
    }
  }
}

@media only screen and (min-width: 48rem) {
  #pastors {
    padding-left: clamp(2rem, 5vw, 2.5rem);
    padding-right: clamp(2rem, 5vw, 2.5rem);

    .pastors-image {
      aspect-ratio: 16 / 9;
      max-height: 30vh;
    }
  }
}

@media only screen and (min-width: 64rem) {
  #pastors {
    .container {
      flex-direction: row;
    }

    .content {
      margin: auto
    }
  }
}