@media only screen and (min-width: 0) {
  #sermon {
    padding: var(--section-padding);
    background: var(--black);
    color: var(--text-white);

    .container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: clamp(2rem, 4vw, 4rem);
    }

    .content {
      text-align: left;
      width: 100%;
      display: flex;
      margin: auto;
      flex-direction: column;
      align-items: start;
      gap: 2rem;
    }

    .headline {
      margin: 0 auto 1rem 0;
      max-width: 28ch;
    }

    .text {
      margin: 0;
    }

    .content__button-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    .video {
      width: 100%;

      iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sermon {
    padding-left: clamp(2rem, 5vw, 2.5rem);
    padding-right: clamp(2rem, 5vw, 2.5rem);

    .content {
      gap: 2rem;
    }

    .content__button-group {
      flex-direction: row;
      gap: 1rem;

      [class^="button"] {
        width: 100%;
      }
    }

  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sermon {
    .container {
      flex-direction: row;
    }

    .video {
      align-self: center;
    }
  }
}
