@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 18px;
}

body {
  font-family: var(--font-body);
  line-height: 160%;
  color: var(--text-black);
  background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline);
  text-transform: uppercase;
  line-height: 100%;
  font-weight: bold;
  margin: 0;
  color: var(--text-white);
}

h1    { font-size: var(--h1-headline-size) }
h2    { font-size: var(--h2-headline-size) }
h3    { font-size: var(--h3-headline-size) }
h4    { font-size: var(--h4-headline-size) }
h5    { font-size: var(--h5-headline-size) }
h6    { font-size: var(--h6-headline-size) }
small { font-size: var(--small-headline-size) }

p {
  width: 100%;
  max-width: 40.625rem;
  margin: 0 0 1.5rem;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
}

.cs-topper, .topper {
  font-size: var(--small-headline-size);
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.1rem;
  color: var(--text-white);
  margin-bottom: 0.250rem;
  display: block;
  position: relative;
}

.cs-title, .title {
  margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
  text-align: left;
  font-weight: 900;
}

.highlight {
  color: var(--text-highlight);
}
