:root {
  --bg-color: #fff;
  --text-black: #202020;
  --text-white: #fff;
  --text-highlight: #E5BD70;
  --white: #fff;
  --black: #202020;

  --primary: #BE0503;

  --font-headline: "Roboto", sans-serif;
  --font-body: "Roboto", sans-serif;

  --section-padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

  --h1-headline-size: clamp(3.61rem, 7.41vw, 5.41rem);
  --h2-headline-size: clamp(2.39rem, 5.009vw, 4.009rem);
  --h3-headline-size: clamp(2.2rem, 3.4vw, 3.1rem);
  --h4-headline-size: clamp(1.85rem, 3.1vw, 2.6rem);
  --h5-headline-size: clamp(1.750rem, 3vw, 2.3rem);
  --h6-headline-size: clamp(1.5rem, 2.788vw, 2.150rem);
  --h7-headline-size: clamp(1.33rem, 2.4vw, 1.750rem);
  --small-headline-size: clamp(1rem, 2vw, 1.5rem);
}
