/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #footer-1391 {
    padding: var(--section-padding);
    padding-top: 0;
    position: relative;
    z-index: 1;
    background-color: var(--black);
    color: var(--text-white);

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cs-top {
      width: 100%;
      margin-bottom: calc(40 / 16 * 1rem);
      /* 24px - 64px */
      padding-bottom: clamp(1.5rem, 5vw, 4rem);
      border-bottom: 1px solid #e8e8e8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* 24px - 40px */
      gap: clamp(1.25rem, 4vw, 2.5rem);
    }

    .cs-ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: calc(8 / 16 * 1rem);
      /* 24px - 36px */
      column-gap: clamp(1.5rem, 4vw, 2.25rem);
    }

    .cs-li {
      list-style: none;
    }

    .cs-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
      transition: color 0.3s;

      &:hover {
        color: var(--primary);
      }
    }

    .cs-logo {
      max-width: calc(209 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-logo-img {
      width: 100%;
      height: auto;
      display: block;
    }

    .cs-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-social {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-social-li {
      list-style: none;
    }

    .cs-social-link {
      width: calc(32 / 16 * 1rem);
      height: calc(32 / 16 * 1rem);
      background-color: #484848;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--primary);

        .cs-social-icon {
          filter: grayscale(1) brightness(1000%);
          opacity: 1;
        }
      }
    }

    .cs-social-icon {
      width: calc(12 / 16 * 1rem);
      height: auto;
      display: block;
      opacity: 0.6;
      transition: opacity 0.3s;
    }

    .cs-copyright {
      font-size: calc(16 / 16 * 1rem);
      color: var(--bodyTextColor);
      line-height: 1.5em;
      margin: 0;
      display: block;
    }

    .cs-copyright-link,
    .cs-separater {
      font-size: calc(16 / 16 * 1rem);
      text-decoration: none;
      color: var(--bodyTextColor);
      transition: color 0.3s;

      &:hover {
        color: var(--primary);
      }
    }

    .cs-separater {
      margin: 0 calc(16 / 16 * 1rem);
      display: inline-block;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer-1391 {
    .cs-top {
      align-items: flex-start;
    }

    .cs-bottom {
      flex-direction: row;
      justify-content: center;
    }

    .cs-flex {
      margin: 0 auto;
    }

    .cs-social {
      /* sends it to the right in the 3rd position */
      order: 3;
    }
  }
}
