<section id="location-hero">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper highlight">Bienvenido</span>
      <h1 class="cs-title">Visita nuestra iglesia</h1>
      <p class="cs-text">
        Ubicados en San Antonio, TX. Ven y comparte con nosotros la alegría de vivir en la presencia de Dios.
      </p>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-picture">
    <source media="(max-width: 600px)" srcset="{{ '/assets/images/hero-background-m.jpg' }}">
    <source media="(min-width: 601px)" srcset="{{ '/assets/images/hero-background.jpg' }}">
    <img decoding="async" src="{{ '/assets/images/hero-background.jpg' }}" alt="crowd praising god" width="2250" height="1500" aria-hidden="true">
  </picture>
</section>
